{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>

    <div class="about">
        <p>Автор стихов родился 17 июня 1941 года в городе Котовск, Одесской области.
            Начал работать в 14 лет.
            Строил корабли в Николаеве, железную дорогу Сталинск-Абакан, работал взрывником.
            Служил в Вооруженных силах СССР.
            С 1984 года на пенсии.
            Неоднократно печатался в периодических изданиях. В 2000 году издал первый сборник своих стихотворений "Iз
            глибини душi". Печатался в альманахе "Степове многорiччя". <br>
            В 2010 году вышло два тома стихов на украинском и русском языках "Шлях до обрiю" и "Судьбы неуправляемая
            сила".<br>
            Женат. Имеет двух сыновей, троих внуков и правнучку.
        </p>

    </div>

{% endblock %}