<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/image/notebook.ico" type="image/png">
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(67443526, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/67443526" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
{% block header %}
    <header>
        <div class="part">
            <div class="nav_img">
                <p>Анатолий Голосной</p>
                <img class="father" src="/static/image/father2.jpg" alt="">
            </div>

            <div class="nav">
                <ul>
                    <li><a class="p-2 text-light" href="{{ url_for('index') }}">Главная</a></li>
                    <li><a class="p-2 text-light" href="{{ url_for('verses') }}">Стихи</a></li>
                    <li><a class="p-2 text-light" href="{{ url_for('about') }}">Об авторе</a></li>
                    <li><a class="p-2 text-light" href="{{ url_for('guest') }}">Гостевая книга</a></li>
                    <li><a class="p-2 text-light" href="{{ url_for('contacts') }}">Контакты</a></li>
                </ul>

            </div>
        </div>
    </header>
{% endblock %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</div>
<footer>
    <div>
        © 2020 Copyright: <a href="{{ url_for('login') }}">Anatoly Golosnoy(Jr)</a>
    </div>
</footer>


</body>
</html>