{% extends 'base.html' %}
{% block content %}
    <h1>Дорогой читатель!</h1>
    <p class="begin">Спасибо, что посетили мой сайт. <br>
        Здесь, я хочу представить Вам некоторые стихи, вошедшие в мои
        сборники "Судьбы неуправляемая сила" и "Шлях до обрiю", изданные в 2010 году на русском и украинском языках.
    Надеюсь Вам стихи понравятся.</p>
    <div class="books_img">
        <img class="book_front" src="/static/image/sudba.jpg" alt="">
        <img class="book_front" src="/static/image/shlyah.jpg" alt="">
    </div>

{% endblock %}