{% extends "base.html" %}

{% block content %}
    <h1>Вход в систему</h1>
    <form action="" method="post" novalidate>
        <div class="form-group">
            {{ form.hidden_tag() }}
            <p class="text-light">

                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="text-light">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="text-light">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </div>
    </form>

{% endblock %}